html{
    background: #f7f7f7;
    font-family: "Arial", sans-serif; 
    color: #6d6d6d;
}
/* termina los tamaños de las columnas */
table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
   background-color:#fff;
}
/* progress bar */
.progress{
    background-image: url(https://cloud.githubusercontent.com/assets/12112938/7526176/5e3b98d8-f4c4-11e4-98bd-e6644d83e455.gif)
}
.progress-min{
    background-image: url(https://cloud.githubusercontent.com/assets/12112938/7526169/5df38dc2-f4c4-11e4-8385-f1b816c7cbfb.gif)
}

.progress-mid{
    background-image: url(https://cloud.githubusercontent.com/assets/12112938/7526174/5e2fe808-f4c4-11e4-833c-75579a7bf38e.gif)
}
.progress-average{
    background-image: url(https://cloud.githubusercontent.com/assets/12112938/7526172/5e086bfc-f4c4-11e4-9a71-e231a8a77055.gif)
}
#progress {
    width: 300px;
    height: 30px;
    border: 1pt solid #111;
    border-radius: 4px;
    background: #404040;
    border: 1px solid #272727;
    overflow: hidden;
    box-shadow: rgb(96, 96, 96) 0 0px 20px -1px;
}
#progress div {
    height: 30px;
    color: #404040;
    text-align: right;
    line-height: 30px; /* same as #progressBar height if we want text middle aligned */
    width: 0;
    border-right: 1px solid #272727;
}
